.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: 10em auto;
}


.label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}